.app {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.bkg {
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(16px);
  background-color: #77777770;
}

.container {
  width: 70vw;
  height: 70vh;
  margin: 15vh 15vw;
  top: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr minmax(12rem, 20vh);
}

.app,
.container {
  background-image: url("./assets/bkg4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  border-radius: 1.5rem;
}
